.btn {
    padding: 15px;
    width: 200px;
}

.context-example .light { 
    background-color: lightblue;
    color: black;
}

.context-example .dark { 
    background-color: black;
    color: white;
}