.App {
  padding: 20px;
}

.hello {
  margin-bottom: 20px;;
}

.product-table {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  min-width: 200px;;
}

td, th {
  text-align: left;
  padding: 10px;;
}

td input {
  width: 100%;
}

.error {
  color: red;
}